/DemoAprilThree/nbproject/private/
/DemoAprilThree/build/
/Examples/nbproject/private/
/Examples/build/
/Examples_2/nbproject/private/
/Examples_2/build/
/Examples_3/nbproject/private/
/Examples_3/build/
/Examples_5/nbproject/private/
/Examples_5/build/